/* => Custom Properties */
:root {
  /* => Colors */
  --PURPLE-COLOR: hsl(259, 100%, 65%);
  --LIGHT-RED-COLOR: hsl(0, 100%, 67%);
  --WHITE-COLOR: hsl(0, 0%, 100%);
  --OFF-WHITE-COLOR: hsl(0, 0%, 94%);
  --LIGHT-GREY-COLOR: hsl(0, 0%, 86%);
  --SMOKEY-GREY-COLOR: hsl(0, 1%, 44%);
  --OFF-BLACK-COLOR: hsl(0, 0%, 8%);
  --TEXT-COLOR: #333;

  /* => Transitions */
  --main-transition: 0.3s;
}

/* => Resets  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* => General Styles */
body {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  min-height: 100vh;
  background-color: var(--OFF-WHITE-COLOR);
  color: var(--OFF-BLACK-COLOR);
  display: grid;
  place-content: center;
  -webkit-tap-highlight-color: transparent;
}

input,
button {
  font: inherit;
}

/* => Utility Classes */
.offscreen {
  position: absolute;
  left: -10000px;
}

/* => Component */
.container {
  width: clamp(300px, 90vw, 700px);
  padding: 3rem 1.5rem;
  margin: 0 auto;
}

/* => Main Element */
main {
  border-radius: 22px 22px 120px;
  background-color: var(--WHITE-COLOR);
  box-shadow: 0 0 10px #ddd;
}

main h2 {
  margin-bottom: 1rem;
  font-size: 22px;
  font-style: italic;
  color: var(--TEXT-COLOR);
  letter-spacing: 1.5px;
}

main .date-of-birth {
  max-width: 500px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.date-of-birth > div {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 4px;
  min-width: 85px;
}

.date-of-birth label {
  font-size: 0.85rem;
  color: var(--SMOKEY-GREY-COLOR);
  transition: var(--main-transition);
  align-self: flex-start;
  margin-left: 3px;
}

.date-of-birth input {
  width: 100%;
  border-radius: 0.8rem;
  padding: 18px 8px;
  outline: none;
  border: 1px solid var(--LIGHT-GREY-COLOR);
  color: var(--SMOKEY-GREY-COLOR);
  transition: var(--main-transition);
}

.date-of-birth input:is(:hover, :focus) {
  border-color: var(--PURPLE-COLOR);
}

.date-of-birth button {
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
  position: absolute;
  left: 50%;
  bottom: -80px;
  transform: translateX(-50%);
}

.date-of-birth button svg {
  fill: var(--WHITE-COLOR);
  width: 62px;
  height: 62px;
  background-color: var(--PURPLE-COLOR);
  border-radius: 50%;
  transition: var(--main-transition);
}

.date-of-birth button svg path {
  transform: translateY(-5px);
}

.date-of-birth button:where(:hover, :focus) svg {
  background-color: var(--OFF-BLACK-COLOR);
  transform: rotate(180deg);
}

main .age {
  color: var(--PURPLE-COLOR);
  margin-top: 2.5rem;
  padding-top: 2.5rem;
  font-size: 60px;
  font-style: italic;
  font-weight: bolder;
  border-top: thin solid var(--LIGHT-GREY-COLOR);
}

.age span {
  color: var(--TEXT-COLOR);
}

/* => Footer Element */
footer {
  font-size: 14px;
  text-align: center;
  margin-top: 0.5rem;
}

footer .container {
  padding: 0;
}

/* => Media Queries */
@media (max-width: 767px) {
  .date-of-birth input {
    font-size: 22px;
  }

  main .age {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  .date-of-birth label {
    margin-left: 12px;
  }

  .date-of-birth input {
    padding-left: 16px;
  }

  .date-of-birth button {
    left: 120%;
    transform: translateX(0);
  }
}
